DEBUG=True # Флаг режима разработки

SECRET_KEY='django-insecure-=*5ya....' # Секретный ключ Django
ALLOWED_HOSTS=localhost,127.0.0.1,*.*.*.*,вашдомен.ru # Список разрешенных хостов

POSTGRES_DB=foodgram # Название бд
POSTGRES_USER=foodgram_user # Имя пользователя в бд
POSTGRES_PASSWORD=foodgram_password # Пароль пользователя в бд

DB_HOST=db # Хост бд
DB_PORT=5432 # Порт бд

USE_SQLITE=True # True - использование SQLite
		  False - использование PostgreSQL